body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main!important;
	@include font-size(1.5);
	line-height: $font__line-height-body!important;
}

@import "headings";

@import "copy";