/*
Theme Name: vacanze con animali
Theme URI: http://underscores.me/
Author: Claudio Rossi
Author URI: http://www.eurosoftlab.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: vacanze-animali
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

vacanze con animali is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@font-face {
  font-family: va-font;
  src: url(fonts/gothic.woff);
}

html {
  font-family: va-font;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: va-font !important;
  font-size: 1.5rem !important;
  line-height: 1.2 !important;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9375rem !important;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9375rem !important;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes: "" "";
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.75rem !important;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 0.875rem !important;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/* Customization */
/* HEADER */
/* _s */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  margin-top: 24em;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  /*.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {

}*/
}

@media (max-width: 991px) {
  .main-navigation ul {
    /*ul {
				position: absolute;
			}*/
  }
}

@media (max-width: 767px) {
  .main-navigation ul {
    /*#masthead{

			}*/
  }
}

@media (min-width: 992px) {
  .main-navigation ul ul {
    position: absolute;
  }
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  /*position: absolute;*/
  left: -999em;
  z-index: 99999;
  /*:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}*/
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation ul li {
  float: left;
  position: relative;
  /*&:hover > a,
		&.focus > a {
		}*/
}

.main-navigation ul a {
  display: inline-block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
    margin-top: 0px;
  }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* end _s */
li#menu-item-251 {
  width: 90px;
}

/* MAIN MENU */
#site-navigation {
  background-color: #5aabdc;
}

@media (max-width: 991px) {
  nav button#navbar-toggle {
    margin-left: auto;
    margin-right: auto;
    max-height: 40px;
    box-shadow: none;
    display: block;
    float: none;
  }
  nav ul#primary-menu > li {
    padding: 5px 0px 5px 0px;
    width: 100%;
  }
  nav ul#primary-menu > li > a {
    color: #FFF !important;
  }
  nav ul.sub-menu li a {
    color: #FFF !important;
  }
  nav ul.sub-menu {
    top: 38px;
  }
  nav ul.sub-menu {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
  }
  nav ul.sub-menu li {
    background-color: #2479ac;
    padding: 5px 0px 5px 0px;
    float: none;
  }
  nav ul.sub-menu li a {
    color: #FFF !important;
  }
}

@media (min-width: 992px) {
  nav button#navbar-toggle {
    display: none;
  }
  nav.sub-menu li {
    background-color: #FFF;
  }
  nav.sub-menu li a {
    color: #FFF !important;
  }
  nav ul {
    width: 100%;
  }
  nav ul#primary-menu > li:hover {
    color: #2f96d4;
    background-color: #FFF;
  }
  nav ul#primary-menu > li:hover ul li {
    width: 100%;
    background-color: #FFF;
  }
  nav ul#primary-menu > li:hover ul li:hover {
    background-color: #2f96d4;
  }
  nav ul#primary-menu > li:hover ul li a:hover {
    color: #FFF !important;
  }
  nav ul#primary-menu > li:hover > a {
    color: #2f96d4 !important;
  }
  nav ul#primary-menu > li > a {
    color: #FFF !important;
  }
  nav ul.sub-menu {
    top: 38px;
  }
}

@media (min-width: 992px) {
  nav.sub-menu li {
    background-color: #FFF;
  }
  nav.sub-menu li a {
    color: #2f96d4 !important;
  }
  nav.sub-menu li:hover {
    background-color: #2f96d4;
  }
  nav.sub-menu li:hover a:hover {
    color: #FFF !important;
  }
}

@media (max-width: 991px) {
  #primary-menu ul {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 991px) {
  #primary-menu li {
    float: none;
    display: block;
    text-align: center;
  }
}

@media (min-width: 992px) {
  #primary-menu li {
    padding: 10px;
  }
}

@media (max-width: 991px) {
  div.main-menu {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  div.main-menu {
    width: 1170px;
  }
}

/* MENU ANIMATION */
@media (min-width: 992px) {
  nav.main-navigation ul li > ul li {
    transform: scale(0, 0);
  }
  nav.main-navigation ul li:hover > ul li {
    transition: transform 0.5s ease-in-out;
    transform: scale(1, 1);
  }
}

/* END MENU ANIMATION */
nav.main-navigation ul li:hover > ul {
  left: 0px;
}

nav.main-navigation.toggled button {
  display: none;
}

@media (max-width: 991px) {
  nav.main-navigation {
    display: inline-block;
    margin-top: 0em;
  }
}

button.menu-btn {
  background-color: transparent;
}

@media (max-width: 991px) {
  button.menu-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

span.icon-bar {
  display: block;
  background-color: #FFF;
  width: 25px;
  height: 2px;
  margin: 4px;
}

/* END MAIN MENU */
@media (max-width: 991px) {
  #masthead {
    background-size: cover;
  }
}

#content {
  margin-top: 20px;
}

@media (min-width: 768px) {
  div.header-logo {
    padding-right: 0px;
  }
}

div.header-logo img {
  display: block;
}

@media (max-width: 767px) {
  div.header-logo img {
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
  }
}

@media (min-width: 768px) {
  div.header-logo img {
    margin-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 85px;
  }
}

h1.site-title a {
  color: #FFF !important;
}

h1.site-title a:visited, h1.site-title a:hover, h1.site-title a:active {
  color: #FFF !important;
}

div.site-branding,
.site-description {
  display: block;
  /*background-color: $color__header_background;*/
  color: #FFF;
}

@media (max-width: 767px) {
  div.site-branding,
  .site-description {
    text-align: center;
    height: 55px;
  }
}

@media (min-width: 768px) {
  div.site-branding,
  .site-description {
    text-align: left;
    padding-left: 0px;
    height: 55px;
  }
}

#nextbtn {
  width: 20px;
  height: 150px;
  background-color: #2F96D4;
}

/* END HEADER */
/* BODY */
img.single-post-featured-image {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 220px;
}

div .home-entry-content {
  display: block;
  overflow: hidden;
}

@media (max-width: 767px) {
  div .home-entry-content {
    height: 90px;
  }
}

@media (min-width: 768px) {
  div .home-entry-content {
    height: 50px;
  }
}

div#home {
  margin-bottom: 10px;
}

body a,
body a:hover,
body a:visited {
  text-decoration: none;
  color: main_color !important;
}

@media (min-width: 768px) {
  header.home-entry-header img {
    height: 300px;
  }
}

h2.entry-title {
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
}

@media (max-width: 767px) {
  h2.entry-title {
    height: 100px;
  }
}

@media (min-width: 768px) {
  h2.entry-title {
    height: 70px;
  }
}

@media (max-width: 767px) {
  h2.structures, h2.partners {
    text-align: center;
  }
}

@media (min-width: 768px) {
  h2.structures, h2.partners {
    text-align: left;
  }
}

div.entry-footer {
  text-align: center;
}

div.entry-footer a,
div.entry-footer a:hover,
div.entry-footer a:visited {
  color: #2479ac !important;
}

div.entry-footer:hover {
  transition: background-color 1.5s ease-in-out;
  background-color: #2F96D4;
}

div.entry-footer:hover a {
  transition: color 1.5s ease-in-out;
  color: #FFF !important;
}

label.label {
  color: #000;
  font-size: 1.7rem;
}

img.advanced-research-category {
  max-height: 35px;
}

img.result-category {
  max-height: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input.research-submit {
  background-color: #2479ac;
  color: #FFF;
  padding: 5px 10px;
  margin: 10px auto 10px auto;
  display: block;
}

div.search-excerpt {
  height: 50px;
}

div.result-category {
  height: 40px;
}

div.locality {
  height: 40px;
  text-align: center;
}

/* END BODY */
/* INIZIO MODIFICHE ENNIO */
.entry-title-archive {
  margin: 5px 5px 5px 0px;
  font-size: 18px;
}

.info-article-text {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  display: inline;
}

.locality {
  text-transform: capitalize;
  display: inline;
  font-size: 16px;
}

.info-article {
  height: 100%;
  display: inline;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-top: 5px;
  background-color: greenyellow;
}

p > label {
  font-weight: normal;
}

div > label {
  font-weight: normal;
}

.slide-img {
  height: 100%;
}

.single-container {
  border: 1px black solid;
  border-radius: 15px;
  background-color: #2294d8;
  margin: 0 auto;
}

span.wpcf7-quiz-label {
  font-weight: normal;
}

.single-content {
  margin: 20px auto 20px auto;
}

.single-header {
  height: 10%;
  margin-top: 20px;
  color: white;
}

.single-title {
  font-weight: bold;
}

.single-footer {
  margin: 20px auto 20px auto;
  padding-right: 0px !important;
}

.animali-acpt {
  font-size: 25px;
  margin: auto 0 auto 0 !important;
}

.single-animali {
  margin-top: 10px;
}

.single-slide {
  height: 22%;
}

.single-desc {
  height: 35%;
}

.single-disp {
  height: 8%;
  margin-top: 20px;
}

.disp-button {
  padding-right: 0px !important;
}

.single-container {
  border: 2px #337ab7 solid;
  border-radius: 15px;
  background-color: #5aabdc;
  margin: 0 auto;
}

.article-archive {
  height: 220px;
  margin: 20px auto;
  background-color: #5aabdc;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.wpcf7 {
  margin-left: 15px !important;
}

.select-checkbox {
  margin-top: 30px;
  font-weight: bold;
}

.btnsubmit {
  font-size: 16px !important;
}

.article-right-container {
  height: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.archive-article-description {
  height: 70%;
}

.archive-article-info {
  height: 15%;
}

.archive-article-title {
  height: 15%;
}

.info-article-container {
  height: 15%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: greenyellow;
}

h2.partners {
  padding-left: 15px;
}

.modaltext {
  font-weight: normal !important;
}

div.wpcf7 input[type="file"] {
  cursor: pointer;
  margin-top: 10px;
}

.wpcf7-textarea {
  margin-top: 10px;
}

#centro {
  display: inline-block;
}

#centro div {
  margin-bottom: 20px;
  margin-top: 30px;
}

.vaibtn {
  height: 150px;
  background-color: #2F96D4;
}

h1 > a {
  color: white !important;
  display: block;
  width: 100%;
  height: 100%;
}

.btntest {
  display: block;
  width: 100%;
  border: none;
  height: 150px;
  background-color: #2F96D4;
}

.btntest:hover {
  background-color: white;
  color: #2F96D4;
}

.marker {
  width: 36px;
  height: 36px;
  margin-bottom: 15px;
}

.animali-title {
  font-size: 20px;
  display: inline;
}

.categorycontainer {
  height: 300px;
}

h2.markertitle {
  display: inline;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  h2.markertitle {
    font-size: 26px;
  }
}

.nextxt,
.prevtxt {
  color: white;
  text-align: center;
}

.nextxtdiv {
  display: table-cell;
  vertical-align: middle;
}

.prevtxtdiv {
  display: table-cell;
  vertical-align: middle;
}

.articlecont {
  height: 250px;
  margin: 20px 0px;
}

#columncontainer {
  margin-bottom: 30px;
}

#MapItemCont {
  height: 100%;
}

#article-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  color: white;
}

.footer-business-name.span12 {
  padding-bottom: 20px;
}

/* FOOTER */
#colophon {
  margin-top: 50px;
  background-color: #84c1e5;
}

div.footer-address,
div.footer-contact,
div.footer-privacy {
  padding-top: 5px;
}

div.footer-address {
  padding-top: 20px;
  padding-bottom: 5px;
}

footer {
  text-align: center;
}

/* BACK TO TOP */
.back-top {
  position: fixed;
  bottom: -100px;
  right: 40px;
  padding: 5px 10px 50px;
  background-color: #2f96d4;
  font-size: 1.8em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.back-top, .bottom-footer a {
  color: #FFF;
}

/* END BACK TO TOP */
/* STICKY FOOTER */
html,
body {
  height: 100%;
}

#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

#footer, #push {
  height: 100px;
  clear: both;
}

/* END STICKY FOOTER */
/* END FOOTER */
/*# sourceMappingURL=style.css.map */