/* BODY */

img.single-post-featured-image {
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 220px;
}

div {
	.home-entry-content {
		display: block;
		overflow: hidden; //xs display
		@media(max-width: $breakpoint_sm - 1) {
			height: 90px;
		} //above xs display
		@media(min-width:$breakpoint_sm) {
			height: 50px;
		}
	}
}

div#home {
	margin-bottom: 10px;
}

body {
	a,
	a:hover,
	a:visited {
		text-decoration: none;
		color: main_color !important;
	}
}

header.home-entry-header img {
	//above xs display
	@media(min-width: $breakpoint_sm) {
		height: 300px;
	}
}

h2 {
	&.entry-title {
		display: block;
		margin-bottom: 20px;
		overflow: hidden; //xs display
		@media(max-width: $breakpoint_sm - 1) {
			height: 100px;
		} //above xs display
		@media(min-width:$breakpoint_sm) {
			height: 70px;
		}
	}
	&.structures,
	&.partners {
		//xs display
		@media(max-width: $breakpoint_sm - 1) {
			text-align: center;
		} //above xs display
		@media(min-width:$breakpoint_sm) {
			text-align: left;
		}
	}
}

div.entry-footer {
	text-align: center;
	a,
	a:hover,
	a:visited {
		color: $main_color !important;
	}
	&:hover {
		transition: background-color 1.5s ease-in-out;
		background-color: #2F96D4;
		a {
			transition: color 1.5s ease-in-out;
			color: #FFF !important;
		}
	}
}

label.label {
	color: #000;
	font-size: 1.7rem;
}

img {
	&.advanced-research-category {
		max-height: 35px;
	}
	&.result-category {
		max-height: 35px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

input.research-submit {
	background-color: $main-color;
	color: $color__menu_foreground;
	padding: 5px 10px;
	margin: 10px auto 10px auto;
	display: block;
}

div.search-excerpt {
	height: 50px;
}

div.result-category {
	height: 40px;
}

div.locality {
	height: 40px;
	text-align: center;
}

/* END BODY */

/* INIZIO MODIFICHE ENNIO */

.entry-title-archive {
	margin: 5px 5px 5px 0px;
	font-size: 18px;
}

.info-article-text {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	display: inline;
}

.locality {
	text-transform: capitalize;
	display: inline;
	font-size: 16px;
}

.info-article {
	height: 100%;
	display: inline;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-top: 5px;
	background-color: greenyellow;
}

p>label {
	font-weight: normal;
}
div>label {
	font-weight: normal;
}

.slide-img {
	height: 100%;
}

.single-container {
	border: 1px black solid;
	border-radius: 15px;
	background-color: #2294d8;
	margin: 0 auto;
}

span.wpcf7-quiz-label{
	font-weight:normal;
}

.single-content{
	margin: 20px auto 20px auto;
  }

.single-header {
	height:10%;
	margin-top: 20px;
	color: white;
}

.single-title{
	font-weight: bold;
}

.single-footer {
	margin: 20px auto 20px auto;
	padding-right: 0px !important;
}

.animali-acpt {
	font-size: 25px;
	margin: auto 0 auto 0 !important;
}

.single-animali {
	margin-top: 10px;
}

.single-slide {
	height: 22%;
}

.single-desc {
	height: 35%;
}

.single-disp {
	height: 8%;
	margin-top: 20px;
}

.disp-button{
	padding-right:0px !important;
}

.single-container {
    border: 2px #337ab7 solid;
    border-radius: 15px;
    background-color: #5aabdc;
    margin: 0 auto;
}

.article-archive {
	height: 220px;
	margin: 20px auto;
	background-color: #5aabdc;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.wpcf7 {
	margin-left: 15px !important;
}

.select-checkbox {
	margin-top: 30px;
	font-weight: bold;
}

.btnsubmit {
	font-size: 16px !important;
}

.article-right-container {
	height: 100%;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.archive-article-description {
	height: 70%;
}

.archive-article-info {
	height: 15%;
}

.archive-article-title {
	height: 15%;
}

.info-article-container {
	height: 15%;
	padding-right: 0px !important;
	padding-left: 0px !important;
	background-color: greenyellow;
}

h2.partners {
	padding-left: 15px;
}

.modaltext {
	font-weight: normal !important;
}

div.wpcf7 input[type="file"] {
	cursor: pointer;
	margin-top: 10px;
}

.wpcf7-textarea {
	margin-top: 10px;
}

#centro {
	display: inline-block;
}

#centro div {
	margin-bottom: 20px;
	margin-top: 30px;
}

.vaibtn {
	height: 150px;
	background-color: #2F96D4;
}

h1>a {
	color: white !important;
	display: block;
	width: 100%;
	height: 100%;
}

.btntest {
	display: block;
	width: 100%;
	border: none;
	height: 150px;
	background-color: #2F96D4;
}

.btntest:hover {
	background-color: white;
	color: #2F96D4;
}

.marker {
	width: 36px;
	height: 36px;
	margin-bottom: 15px;
}

.animali-title{
	font-size:20px;
	display:inline;
  }

.categorycontainer {
	height: 300px;
}

h2.markertitle {
	display: inline;
	text-transform: capitalize;
}

@media (max-width: 768px) {
	h2.markertitle {
		font-size: 26px;
	}
}

.nextxt,
.prevtxt {
	color: white;
	text-align: center;
}

.nextxtdiv {
	display: table-cell;
	vertical-align: middle;
}

.prevtxtdiv {
	display: table-cell;
	vertical-align: middle;
}

.articlecont {
	height: 250px;
	margin: 20px 0px;
}

#columncontainer {
	margin-bottom: 30px;
}

#MapItemCont {
	height: 100%;
}

#article-title {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.link {
	color: white;
}
.footer-business-name.span12 {
    padding-bottom: 20px;
}
