/* FOOTER */

#colophon{
	margin-top: 50px;
	background-color: $color__footer_background;
}

div.footer-address,
div.footer-contact,
div.footer-privacy{
	padding-top: 5px;
}
div.footer-address{
	padding-top:20px;
	padding-bottom:5px
}
footer{
	text-align: center;
}

/* BACK TO TOP */

.back-top {
	position: fixed;
	bottom: -100px;
	right: 40px;
	padding: 5px 10px 50px;
	background-color: $color__header_background;
	font-size: 1.8em;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.back-top, .bottom-footer a {
	color: $color__menu_foreground;
}

/* END BACK TO TOP */

/* STICKY FOOTER */
html,
body{
	height: 100%;
}

#page{
	min-height: 100%;
	height: auto !important;
	height: 100%;
margin: 0 auto -100px;
}

#footer, #push {
	height: 100px;
	clear: both;
}

/* END STICKY FOOTER */

/* END FOOTER */
