/* HEADER */

@import "menu";
#masthead {
	@media(max-width: $breakpoint_md - 1) {
		background-size: cover;
	}
}

#content {
	margin-top: 20px;
}

div.header-logo {
	//above xs display
	@media(min-width: $breakpoint_sm) {
		padding-right: 0px;
	}
	img {
		display: block; //xs display
		@media(max-width: $breakpoint_sm - 1) {
			margin-left: auto;
			margin-right: auto;
			max-width: 150px;
		} //above xs display
		@media(min-width:$breakpoint_sm) {
			margin-left: 0px;
			padding-top: 16px;
			padding-bottom: 16px;
			max-width: 85px;
		}
	}
}

h1.site-title {
	a {
		color: $color__menu_foreground !important;
		&:visited,
		&:hover,
		&:active {
			color: $color__menu_foreground !important;
		}
	}
}

div.site-branding,
.site-description {
	display: block;
	/*background-color: $color__header_background;*/
	color: $color__menu_foreground; //xs display
	@media(max-width: $breakpoint_sm - 1) {
		text-align: center;
		height: $header_height/2;
	} //above xs display
	@media(min-width:$breakpoint_sm) {
		text-align: left;
		padding-left: 0px;
		height: $header_height/2;
	}
}

#nextbtn {
	width: 20px;
	height: 150px;
	background-color: #2F96D4;
}

/* END HEADER */