/* _s */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-top: 24em;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0; //sm display
		@media(max-width: $breakpoint_md - 1) {
			/*ul {
				position: absolute;
			}*/
		} //custom rule ENNIO
		@media(max-width:$breakpoint_sm - 1) {
			/*#masthead{

			}*/
		} //above sm display
		@media(min-width:$breakpoint_md) {
			ul {
				position: absolute;
			}
		}
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			/*position: absolute;*/
			left: -999em;
			z-index: 99999;
			ul {
				left: -999em;
				top: 0;
			}
			li {
				&:hover>ul,
				&.focus>ul {
					left: 100%;
				}
			}
			a {
				width: 200px;
			}
			/*:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}*/
		}
		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
		li {
			float: left;
			position: relative;
			/*&:hover > a,
		&.focus > a {
		}*/
		}
		a {
			display: inline-block;
			text-decoration: none;
		}
		/*.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {

}*/
	}
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		margin-top: 0px;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* end _s */
li#menu-item-251 {
    width: 90px;
}
/* MAIN MENU */

#site-navigation {
	background-color: $color__menu_background;
}

nav {
	//sm display
	@media(max-width: $breakpoint_md - 1) {
		button#navbar-toggle {
			margin-left: auto;
			margin-right: auto;
			max-height: 40px;
			box-shadow: none;
			display: block;
			float: none;
		}
		ul {
			&#primary-menu>li {
				padding: 5px 0px 5px 0px;
				width: 100%;
				&>a {
					color: $color__menu_foreground !important;
				}
			}
			&.sub-menu li {
				a {
					color: $color__menu_foreground !important;
				}
			}
			&.sub-menu {
				top: 38px;
			}
		}
		ul.sub-menu {
			margin-top: 5px;
			margin-bottom: 5px;
			float: none;
			li {
				background-color: $main_color;
				padding: 5px 0px 5px 0px;
				float: none;
				a {
					color: $color__menu_foreground !important;
				}
			}
		}
	} //above sm display
	@media(min-width:$breakpoint_md) {
		button#navbar-toggle {
			display: none;
		}
		&.sub-menu li {
			background-color: $color__menu_foreground;
			a {
				color: $color__menu_foreground !important;
			}
		}
		ul {
			width: 100%;
			&#primary-menu>li {
				&:hover {
					color: $color__header_background;
					background-color: $color__menu_foreground;
					ul li {
						width: 100%;
						background-color: $color__menu_foreground;
						&:hover {
							background-color: $color__header_background;
						}
						a:hover {
							color: $color__menu_foreground !important;
						}
					}
					&>a {
						color: $color__header_background !important;
					}
				}
				&>a {
					color: $color__menu_foreground !important;
				}
			}
			&.sub-menu {
				top: 38px;
			}
		}
	} //above sm display
	@media(min-width:$breakpoint_md) {
		&.sub-menu li {
			background-color: $color__menu_foreground;
			a {
				color: $color__header_background !important;
			}
		}
		&.sub-menu li:hover {
			background-color: $color__header_background;
			a:hover {
				color: $color__menu_foreground !important;
			}
		}
	}
}

#primary-menu {
	ul {
		//sm display
		@media(max-width: $breakpoint_md - 1) {
			width: 100%;
			margin-left: 0px;
			margin-right: 0px;
		} //above sm display
		@media(min-width:$breakpoint_md) {}
	}
	li {
		//sm display
		@media(max-width: $breakpoint_md - 1) {
			float: none;
			display: block;
			text-align: center;
		} //above sm display
		@media(min-width:$breakpoint_md) {
			padding: 10px;
		}
	}
}

div.main-menu {
	//sm display
	@media(max-width: $breakpoint_md - 1) {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
	} //above sm display
	@media(min-width:$breakpoint_md) {
		width: 1170px;
	}
}

/* MENU ANIMATION */

@media(min-width:$breakpoint_md) {
	nav.main-navigation ul li {
		>ul li {
			transform: scale(0, 0);
		}
		&:hover>ul li {
			transition: transform 0.5s ease-in-out;
			transform: scale(1, 1);
		}
	}
}

/* END MENU ANIMATION */

nav.main-navigation {
	ul li:hover>ul {
		left: 0px;
	}
	&.toggled button {
		display: none;
	} //sm display
	@media(max-width:$breakpoint_md - 1) {
		display: inline-block;
		margin-top: 0em;
	}
}

button.menu-btn {
	background-color: transparent; //sm display
	@media(max-width: $breakpoint_md - 1) {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

span.icon-bar {
	display: block;
	background-color: $color__menu_foreground;
	width: 25px;
	height: 2px;
	margin: 4px;
}


/* END MAIN MENU */