$main_color: #2479ac;

$color__header_background: lighten($main_color, 10%);

$color__menu_background: lighten($main_color, 20%);

$color__footer_background: lighten($main_color, 30%);

$color__menu_foreground: #FFF;